#
# Here some extra reqs are added to avoiding conflicts. From time to time, this should be removed to
# see if conflict were resolved and this entries are no longer needed.
#
# This conflicts will make `pip sync` fail
#

# sentry-sdk 1.22.2 depends on urllib3<2.0.0
urllib3<2.0.0

# pyyaml is broken with cython>=3
cython<3

# let's delay the upgrade
django-allauth==0.54.0
